.bg-brand-color{
  background-color: #FF5500;
}
.bg-dark-purple-color{
  background-color: #4527a0;
}
.bg-dark-red-color{
  background-color: #c41331;
}
.bg-dark-green-color{
  background-color: #268965;
}