.invoice-manager-overview{
    .odometer.odometer-theme-plaza{
        font-size: 3em;
        .odometer-inside{
            .odometer-digit{
                font-weight: bold;
                color: #FF5500;
            }
            .odometer-formatting-mark{
                color: #FF5500;
            }
        }
    }
    .current-system-status{
        .state-cards{
            .state-card{
                    /***For Angular material Cards Starts***/
                    md-card{
                            .md-headline{
                            font-size: 1.25em;
                        }
                    md-card-content{
                        padding-bottom: 0;
                        .odometer.odometer-theme-plaza{
                            font-size: 3em;
                            .odometer-inside{
                                .odometer-digit{
                                    color: white;
                                }
                                .odometer-formatting-mark{
                                    color: white;
                                }
                            }
                        }
                    }
                    md-card-actions{
                        margin: 0;
                        margin-bottom: 0;
                    }
                }
                /***For Angular material Cards Ends***/
                /***For Bootstrap Cards Starts***/
                .card{
                    color: white;
                    .card-text{
                        .odometer.odometer-theme-plaza{
                            font-size: 3em;
                            background-color: inherit;
                            color: white;
                            .odometer-digit{
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }
                }
                /***For Bootstrap Cards Ends***/
            }
        }
    }
    .definative-period-overview{
        .overview-graphs{
            margin-top: 7em;
        }
    }
}