<div class="row invoice-manager-overview" ng-controller="landingPageController" ng-init="init()">
    <div class="row current-system-status">
        <div class="col-md-3">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <label >Total Invoice</label>
                    <div>
                        <span odometer="7897643" odometer-options="{theme: 'car', duration: 3000,animation : 'count'}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 state-cards">
            <div class="row">
                <div class="col-md-3 state-card">
                    <md-card md-theme="dark-grey" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Under Process</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <span odometer="testValueChange" odometer-options="{theme: 'plaza', duration: 3000,animation : 'count'}"/>
                        </md-card-content>    
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>View details</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div class="col-md-3 state-card">
                    <md-card md-theme="dark-orange" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Unprocessed</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <span odometer="testValueChange" odometer-options="{theme: 'plaza', duration: 3000,animation : 'count'}"/>
                        </md-card-content>    
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div class="col-md-3 state-card">
                    <md-card md-theme="dark-purple" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Failed</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <span odometer="testValueChange" odometer-options="{theme: 'plaza', duration: 3000,animation : 'count'}"/>
                        </md-card-content>    
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                        </md-card-actions>
                    </md-card>
                </div>    
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <canvas id="processingInvoices"
                                class="chart chart-doughnut"
                                chart-data="processingInvoicesChart.data"
                                chart-labels="processingInvoicesChart.labels">
                        </canvas>
                        <label class="col-md-offset-3">Delivered</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <canvas id="processingInvoices"
                                class="chart chart-doughnut"
                                chart-data="processingInvoicesChart.data"
                                chart-labels="processingInvoicesChart.labels"
                                chart-colors="colors">
                        </canvas>
                        <label class="col-md-offset-3">Successfully Processed</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <canvas id="processingInvoices"
                                class="chart chart-doughnut"
                                chart-data="processingInvoicesChart.data"
                                chart-labels="processingInvoicesChart.labels"
                                chart-colors="colors">
                        </canvas>
                        <label class="col-md-offset-3">Processing</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row devinative-period-overview">
        <div class="col-md-3">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <label >Today's Invoice</label>
                    <div>
                        <span odometer="7897646" odometer-options="{theme: 'plaza', duration: 3000,animation : 'count'}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <label >Today's Invoice</label>
                    <div>
                        <span odometer="7897646" odometer-options="{theme: 'train-station', duration: 3000,animation : 'count'}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <canvas id="divisionsByBrand"
                            class="chart chart-bar"
                            chart-data="divisionsByBrandChart"
                            chart-labels="divisionsByBrandChartLabels"
                            chart-colors="colors">
                    </canvas>
                </div>
                <div class="col-md-offset-2 col-md-4">
                    <canvas id="divisionsByLocation"
                            class="chart chart-pie"
                            chart-data="divisionsByLocationChart"
                            chart-labels="divisionsByLocationLabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>