<div class="row invoice-manager-overview" ng-controller="landingPageController" ng-init="init()">
    <div class="row current-system-status">
        <div class="col-md-3">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <label >Total Invoice</label>
                    <div>
                        <span odometer="7897643" odometer-options="{theme: 'car', duration: 3000,animation : 'count'}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 state-cards">
            <div ng-include="'templates/state-overview.html'"></div>          
        </div>
    </div>
    <div class="row devinative-period-overview">
        <div class="col-md-3">
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <ui-select ng-model="overview.selected" theme="select2"  title="Choose Overview Period">
                        <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="eachOverview in possibleOverviews | propsFilter: {name: $select.search, age: $select.search}" position='up'>
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
                            email: {{person.email}}
                            age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                        </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-md-offset-2">
                    <label >Today's Invoice</label>
                    <div>
                        <span odometer="7897646" odometer-options="{theme: 'plaza', duration: 3000,animation : 'count'}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <canvas id="divisionsByBrand"
                            class="chart chart-bar"
                            chart-data="divisionsByBrandChart"
                            chart-labels="divisionsByBrandChartLabels"
                            chart-colors="colors">
                    </canvas>
                </div>
                <div class="col-md-offset-2 col-md-4">
                    <canvas id="divisionsByLocation"
                            class="chart chart-pie"
                            chart-data="divisionsByLocationChart"
                            chart-labels="divisionsByLocationLabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>